body {
    background-color: darkgray;
    height: 640px;
}

canvas {
    display: block;
}

#canvasBg {
    background-color: white;
}

#overlapping canvas{
    margin: -640px 0 0 0;
    height: 640px;
}
